body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f6f8fa;
}

.favorites-section, .results-section {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-result-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative;
}

.search-result-title {
    margin: 0 0 10px 0;
    color: #007bff;
    font-size: 1.5rem; 
  }
  .search-result-title:hover {
    color:rgba(121, 0, 207, 0.998)
  }
  .search-result-description {
    margin: 0 0 10px 0;
    color: #333;
    font-size: 1rem;
  }
  

.star-icon {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: black;
}

.star-icon:hover {
    color: gold;
}
