.search-result-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}



.search-result-title {
  margin: 0 0 10px 0;
  color: #007bff;
  font-size: 1.5rem; 
}
.search-result-title:hover {
  color:rgba(121, 0, 207, 0.998)
}
.search-result-description {
  margin: 0 0 10px 0;
  color: #333;
  font-size: 1rem;
}

