.search-results-main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.filter-section {
  flex-basis: 20%;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.filter-checkboxes label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  color: #181515; 
}

.filter-toggle {
  display: none;
}
#reset-filters {
  display: none;
  background-color: #191818;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-bottom: 10px; 
}

#reset-filters:hover {
  background-color: #ff1a1a; 
}

.filter-checkboxes input[type="checkbox"] {
  margin-right: 5px;
}

.results-section {
  flex-grow: 1;
  padding: 10px;
}

.search-result-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.search-result-title {
  margin: 0 0 10px 0;
  color: #007bff;
  font-size: 1.5rem; 
}

.search-result-description {
  margin: 0 0 10px 0;
  color: #333;
  font-size: 1rem;
}

.search-result-tag {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
}

.filter-list, .nested-filter-list {
  list-style-type: none;
  padding-left: 0;
  user-select: none;
}

.nested-filter-list {
  display: none;
  padding-left: 20px;
  user-select: none;
}

.expandable::before {
  content: '+';
  color: #007bff;
  margin-right: 5px;
  user-select: none;
}
.expandable.collapsed::before {
  content: '-';
  user-select: none;
}

@media (max-width: 768px) {
  .search-results-main {
      flex-direction: column;
  }

  .filter-section {
      width: 100%;
      display: none;
      border-right: none;
      border-bottom: 1px solid #ccc; 
  }

  .filter-toggle {
      display: block;
      background: #000000;
      color: white;
      border: none;
      padding: 10px;
      width: 100%;
      text-align: left;
  }

  .filter-toggle:after {
      content: 'Filters';
  }

  .filter-section.open {
      display: block;
  }

  .results-section {
      width: 100%; 
  }

  .filter-section h2 {
      display: none;
  }
}
.search-result-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  position: relative; /* Added for positioning star icon */
}

.search-result-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.search-result-title:hover {
  text-decoration: underline;
}

.search-result-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.search-result-tags {
  font-size: 12px;
  color: #999;
}

/* Star icon styling */
.star-icon {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: black;
}

.star-icon.favorite {
  color: gold;
}


